# ROS / Python common ignores for this workspace

# Colcon / ROS2 build artifacts
build/
install/
log/
.colcon/
.colcon*/ 

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
venv/
.venv/
env/
ENV/
\.Python

# pytest
.pytest_cache/

# editor / OS
.vscode/
.idea/
Thumbs.db
*.swp
*~
.DS_Store

# rosbags and large recorded files
*.bag
*.db3
*.mcap
rosbag2_*/
**/rosbag2_*/      # 任意子目录下的 rosbag2_* 录包
**/data/rosbag2_*/ # 常见 data/rosbag2_* 目录

# temporary files from builds/install
**/build/
**/install/
**/log/
**large_files/
lidar_ws/
stack_can_ws/data/lidar_rosbag
stack_can_ws/bags
*.bin

# Ignore Docker build contexts and workspaces
docker/dockerfile/ros2_ws/
docker/dockerfile/wit_ros2_imu/
docker/.ipynb_checkpoints/
lidar_ws/
